@import '@app/styles/mixins';

.container {
  @include mx_flex_center;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.contador {
  padding-top: 10px;
  font-size: 2rem;
}

.time {
  margin: 20px 0px;
  font-size: 1.5rem;
}
